---
import avatar from '@/assets/images/avatar_2.jpg';
import avatarWebp from '@/assets/images/avatar_2.webp';
import { Highlighter } from '../ui';
import SectionContent from './section.astro';
---

<SectionContent theme="dark" class="text-white" id="about">
  <h3 class="text-center font-light text-3xl">
    Me&nbsp;
    <Highlighter
      client:visible
      action="box"
      multiline
      color="var(--brand)"
      isView
    >
      conheça
    </Highlighter>
  </h3>

  <div class="container mx-auto mt-16 grid gap-2 md:grid-cols-2">
    <div
      class="h-full max-h-lg w-full max-w-lg justify-self-center overflow-hidden rounded-lg shadow-card shadow-lg transition-transform duration-200 hover:-translate-y-5 active:scale-105"
    >
      <picture>
        <source
          srcset={avatarWebp.src}
          type="image/webp"
          class="h-full w-full object-contain md:object-cover"
        />

        <img
          src={avatar.src}
          alt="imagens sobre mim"
          loading="lazy"
          class="h-full w-full object-contain md:object-cover"
        />
      </picture>
    </div>

    <div class="flex h-full w-full flex-col justify-between md:ml-4">
      <div
        class="mt-10 block space-y-2 text-[#FAF7FB]/80 md:m-0 md:flex md:flex-col"
      >
        <h3 class="font-medium text-2xl text-white">
          Olá! Meu nome é&nbsp;
          <Highlighter client:visible color="#C2D5DF" isView multiline>
            Leticia de Brito Martins
          </Highlighter>
        </h3>

        <span class="max-w-fit rounded-full bg-brand p-2 text-white text-xs">
          CRP 12/30305
        </span>

        <p class="mt-6 font-extralight text-sm md:text-base">
          Sou psicóloga clínica e organizacional e acredito que a terapia é um
          espaço de transformação — não pela mudança forçada, mas pela
          consciência.
        </p>

        <p class="font-extralight text-sm md:text-base">
          Sempre fui movida pelo interesse genuíno em compreender as emoções
          humanas, os conflitos internos e as escolhas que moldam nossa
          trajetória. Acredito que, quando ampliamos nossa consciência
          emocional, nos tornamos mais responsáveis pelas nossas decisões e mais
          livres para construir uma vida coerente com quem realmente somos.
          Ofereço um espaço seguro, ético e profundo, onde você possa se ver com
          mais clareza, ressignificar padrões e fortalecer sua autonomia. Meu
          trabalho é fundamentado na escuta ética, na responsabilidade técnica e
          no compromisso com o desenvolvimento pessoal e profissional dos meus
          pacientes e clientes.
        </p>

        <div class="mt-10 space-y-3">
          <h4 class="font-light text-white text-xl">📖&nbsp;Minha Abordagem</h4>

          <p class="font-extralight text-sm md:text-base">
            Minha prática é orientada pela psicanálise, compreendendo cada
            sujeito a partir de sua história, seus vínculos e processos
            inconscientes.
          </p>

          <p class="font-extralight text-sm md:text-base">
            O acompanhamento é personalizado, respeitando a singularidade, os
            vínculos, o tempo e as necessidades de cada pessoa. Não se trata de
            um modelo pronto; construímos juntos um processo a partir da escuta
            e do que emerge em cada trajetória.
          </p>

          <p class="font-extralight text-sm md:text-base">
            Acredito que cada indivíduo é único e merece ser compreendido em
            profundidade, para viver uma vida mais significativa.
          </p>
        </div>
      </div>

      <div
        class="mt-10 flex flex-col gap-6 rounded-lg bg-[#FAF7FB]/50 p-8 text-black"
      >
        <span class="text-left text-[#FAF7FB]/80">
          Vamos juntos explorar os caminhos que levarão ao bem-estar emocional e
          mental.
        </span>

        <div class="flex flex-col gap-2 md:flex-row">
          <a
            href={`https://wa.me/${import.meta.env.PUBLIC_WHATSAPP_NUMBER}?text=Olá%2C%20eu%20gostaria%20de%20marcar%20uma%20sessão%20de%20psicoterapia%20individual.`}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full max-w-80 select-none rounded-md border px-6 py-4 text-center font-light text-white transition-colors duration-400 hover:bg-gray-300 hover:text-black active:bg-gray-300 active:text-black"
          >
            Agende sua consulta
          </a>

          <a
            href={`https://wa.me/${import.meta.env.PUBLIC_WHATSAPP_NUMBER}?text=Olá%2C%20eu%20vim%20pelo%20site%2C%20e%20gostaria%20de%20agendar%20uma%20consultoria%20corporativa`}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full max-w-80 select-none rounded-md border px-6 py-4 text-center font-light text-white transition-colors duration-400 hover:border-[#FF9800]/60 hover:bg-[#FF9800] active:border-[#FF9800]/60 active:bg-[#FF9800]"
          >
            Agende sua consultoria
          </a>
        </div>
      </div>
    </div>
  </div>
</SectionContent>
