---
import { Menu, ScrollProgress } from '@/components';
import '@fontsource/raleway';
import '@fontsource/roboto';

import '@/styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/logo.ico" />
		<link rel="icon" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Atuo com a Psicoterapia Psicanalítica, fundamentada na escuta ética e na compreensão dos processos inconscientes que atravessam emoções, escolhas e padrões de repetição. Acredito que cada indivíduo é único e merece ser compreendido em sua singularidade e profundidade. A psicoterapia é um espaço de escuta que amplia a consciência, possibilita a ressignificação de padrões e fortalece a autonomia para viver de forma mais coerente com quem se é."
		/>
		<meta
			name="keywords"
			content="Psicóloga, Letícia Brito, CRP 12/30305, Psicóloga Clínica e Organizacional, Psicanálise, Autoconhecimento, Saúde Mental, Atendimento a adolescentes e adultos, Presencial e online, Saúde mental para empresas conscientes."
		/>
		<meta name="author" content="Leticia Brito" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#8d0d0d" />
		<title>Psicóloga Letícia Brito | CRP 12/30305</title>
	</head>
	<body>
		<Menu client:visible />
		<slot />
		<ScrollProgress client:only="react" />
	</body>
</html>
